services:
  # 1. MQTT Broker
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: smart-sousvide-mqtt
    ports:
      - "1883:1883"   # MQTT 통신 포트
      - "9001:9001"   # Websocket 포트
    volumes:
      - ./config/mosquitto:/mosquitto/config # 설정 파일 매핑
      - ./data/mosquitto:/mosquitto/data
      - ./log/mosquitto:/mosquitto/log
    networks:
      - iot-network

  # 2. InfluxDB (온도 데이터 저장소)
  influxdb:
    image: influxdb:2.7-alpine
    container_name: smart-sousvide-influx
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=sousvide_bucket
    volumes:
      - ./data/influxdb2:/var/lib/influxdb2
    networks:
      - iot-network

  # 3. Redis
  redis:
    image: redis:alpine
    container_name: smart-sousvide-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - ./data/redis:/data
    networks:
      - iot-network

  # 4. MySQL (기기 목록 등 고정 데이터)
  mysql:
    image: mysql:8.0
    container_name: smart-sousvide-mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=sousvide_db
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - iot-network
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

networks:
  iot-network:
    driver: bridge