name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Unit Tests (Ingestion/Control)
        run: |
          ./gradlew test \
            --tests "com.iot.IoT.ingestion.*" \
            --tests "com.iot.IoT.control.*"
